/* MAIN PAGE, ABOUT US - Include an image centered in the screen */
.masthead, .masthead-about {
    height: 100vh;
    min-height: 500px;
    /*background-image: url("../images/GettyImages-485691273.jpg"); !* insert image in the background *!*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* MAIN PAGE, ABOUT US - Style the text in the center of the image. */
.masthead h1, .masthead-about h1 {
    font-family: Roboto Condensed;
    font-size: 3em;
}

/* MAIN PAGE - Resize image in the background. */
.img-ireland {
    max-width: 100%;
    height: auto
}

/* MAIN PAGE - Give space between social links to the pictures. */
.text-center {
    padding-top: 5em;
}

/* MAIN PAGE - Centered text header of the main page with transparent text. */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* background with 0.5 opacity */
    color: #f1f1f1; /* text color */
    width: 80%; /* Full width */
    padding: 20px;
}

/* MAIN PAGE - Container for icons. */
.container {
    position: relative;
    text-align: center;
}

/* MAIN PAGE - Resize icons and centered them. */
section .icons {
    padding-top: 5%;
    width: 60%;
    margin: auto;
}

/* MAIN PAGE - Change the background of the card. */
.icon-blackboard {
    background-color: #73d658;
}

/* MAIN PAGE - Change the background of the card. */
.icon-home {
    background-color: #886c60;
}

/* MAIN PAGE - Change the background of the card. */
.icon-search {
    background-color: #005c83;
}

/* MAIN PAGE - Change the background of the card. */
.icon-team {
    background-color: #ffe152;
}

/* MAIN PAGE - Make space between icons and footer. */
.footer-main-page {
    padding-top: 235%;
}

/* MAIN PAGE - Animation fade for those 4 icons */
.card-img-top {
    -webkit-animation: fadein 2.5s; /* Safari and Chrome */
    -moz-animation: fadein 2.5s; /* Firefox */
    -ms-animation: fadein 2.5s; /* Internet Explorer */
    -o-animation: fadein 2.5s; /* Opera */
    animation: fadein 2.5s;
}

/* MAIN PAGE - Animation fade for those 4 icons at the main page */
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* MAIN PAGE - Animation fade for those 4 icons at the main page (Firefox) */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* MAIN PAGE - Animation fade for those 4 icons at the main page (Safari and Chrome) */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* MAIN PAGE - Animation fade for those 4 icons at the main page (Internet Explorer) */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}​

/* MAIN PAGE - Animation fade for those 4 icons at the main page (Opera) */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}​

     /* Font family for footer. */
 footer {
     font-family: Roboto Condensed;
 }

/* MAIN PAGE - Make space between icons and footer for small size media. */
.footer-main-page {
    padding-top: 5%;
}

/* WHERE STUDY - Make space between search bar and logo for small size media. */
.section-where {
    padding-top: 20%;
}

/*LIVING IRELAND/RESEARCH - change the color text.*/
.barrier{
    color:#00d12e;
}

/* ABOUT US - Change the size of the header. */
.about {
    font-size: 3em;
}

/* ABOUT US - Container holding the image and the text. */
.container-about {
    position: relative;
    text-align: center;
    color: white;
}

/* ABOUT US - Make the image responsive and gives space between main menu and the image. */
.img-about {
    max-width: 100%;
    height: auto;
    padding-top: 20%;
}

/* CONTACT US - Change the background color for the email, address label and button submit. */
.email, .address, .submit {
    background-color:#4ece51;

}

/* CONTACT US - Make the image responsive and gives space between main menu and the image. */
.img-contact {
    max-width: 100%;
    height: auto;
    padding-top: 20%;
}

/* CONTACT US - Make space on top for the form to the footer. */
.footer-contact {
    padding-top: 80%;
}

/* REVIEWS - Create of the block title style. */
.review-block-title{
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-color:#38c93d;
}
/* REVIEWS - Create of the description style. */
.review-block-description{
    font-family: Poppins, sans-serif;
    font-size: 14px;
    font-color:#262626;
}

/* REGISTER, LOGIN IN, LOG OUT - spacing from the main-menu. */
.login-panel {
    margin-top: 50%;
}